@import '../../../styles/variables.scss';

.button {
  background-color: $primary-dark;
  color: $primary-light;
  padding: 10px 25px;
  border: none;
  transition: opacity 0.2s;
  cursor: pointer;
  font-weight: bold;
  &:hover {
    opacity: 0.8;
  }
  &:focus {
    outline: none;
  }
}

.small {
  padding: 5px 10px;
}

.large {
  padding: 15px 40px;
}

.extra-large {
  padding: 30px 60px;
}

.secondary {
  background-color: $secondary-dark;
  color: $secondary-light;
}

.special {
  background-color: $special-light;
  color: $special-dark;
}

.extra {
  background-color: $extra-dark;
  color: $extra-light;
}